
:root {
    --cor-primaria-jogar: rgb(116, 29, 223); 
    --cor-hover-jogar: rgb(77, 12, 156);
    --cor-secundaria-jogar: rgba(152, 97, 211, 1);

}
h1 {
    color: rgb(7, 5, 5); /* Define a cor do título */
    font-size: 36px; /* Define o tamanho da fonte maior (por exemplo) */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 20px; /* Espaço superior para alinhar verticalmente */
    /* Outras propriedades de estilo que desejar */
    margin-left: -88px;
}


.jogar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.jogar button {
    background-color: var(--cor-primaria-jogar);
    outline: none;
    color: var(--cor-secundaria-jogar);
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    width: 200px; /* Aumente a largura do botão */
    height: 70px; /* Aumente a altura do botão */
    margin-bottom: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    white-space: nowrap; /* Impede a quebra de linha dentro do botão */
}

.jogar button:hover {
    background-color: var(--cor-hover-jogar);
}

.jogar button:active {
    color: var(--cor-primaria-jogar);
    background-color: var(--cor-secundaria-jogar);
}

@font-face {
    font-family: [Dimitri];
    src: url(DIMIS___.ttf) format ('TrueType');
}

button {
    font-family: 'Dimitri', Times;
    color: white;
    font-size: 30px;
   
}

body {
    background-color: rgb(255, 255, 255);
}

.gif {   /* esse aqui acho que nao precisa,mas se tira os botoes dao um delaw,mas vou editar,já que o professor vai olhar mesmo*/
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif img {
    height: 500px;
    width: 500px;
    padding-top: 50%;
}
.foguet {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foguet img {
    height: 500px;
    width: 500px;
   margin-top: 100%;
   padding-left: 0%
   ;
   padding-right: 10%;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
