
:root {
    --cor-primaria-jogar: rgb(116, 29, 223); 
    --cor-hover-jogar: rgb(77, 12, 156);
    --cor-secundaria-jogar: rgba(152, 97, 211, 1);

}
h1 {
    color: rgb(7, 5, 5); /* Define a cor do título */
    font-size: 36px; /* Define o tamanho da fonte maior (por exemplo) */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 20px; /* Espaço superior para alinhar verticalmente */
    /* Outras propriedades de estilo que desejar */
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.jogar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.jogar button {
    background-color: var(--cor-primaria-jogar);
    outline: none;
    color: var(--cor-secundaria-jogar);
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    width: 200px; /* Aumente a largura do botão */
    height: 50px; /* Aumente a altura do botão */
    margin-bottom: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    white-space: nowrap; /* Impede a quebra de linha dentro do botão */
}

.jogar button:hover {
    background-color: var(--cor-hover-jogar);
}

.jogar button:active {
    color: var(--cor-primaria-jogar);
    background-color: var(--cor-secundaria-jogar);
}

@font-face {
    font-family: [Dimitri];
    src: url(DIMIS___.ttf) format ('TrueType');
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 30px;
   
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    
}





.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#linha{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
    
  
    
}
nav{
    box-sizing:border-box;
    width:100%;
    height: 100px;
    background: linear-gradient(90deg, rgb(122, 119, 182) 0%, rgb(123, 86, 168) 26%, rgb(103, 43, 153) 100%);
    justify-content: flex-start;
    align-items: center;
  }
  #linha h2{
    margin: 0;
    
}
